.box {
  display: block;
  width: 100%;
  height: auto;
  background: white;
  padding: $space-unit;
  margin: $space-unit 0;
  position: relative;
  box-shadow: -10px -10px 0px 0px black;
  @include clearfix;
  transform: translate3d(5px,0,0);
  text-align: center;
  text-decoration: none;
  transition-duration: 0.2s;
  img {
    padding-bottom: 10px;
  }
}