// Mixin to reuse common typography styles
// Insert unique properties in the $types map and insert common properties at the bottom
// You can copy the headingtype mixin to create a second one for the body type

@mixin type($type: heading1) {
  $types: (
    // typename: (
    //   insert unique properties here for this type
    //   breakpoint-name: (
    //     insert properties for this breakpoint
    //     breakpoint-name must match an entry in the $breakpoint map in variables.scss or it will not compile
    //   )
    // ),
    // Example of a base style for h1
    headingdefault: (
      font-family: $font-serif,
      font-size: 16px,
      line-height: 180%,
      color: $color-base,
      font-weight: 500,
      letter-spacing: 0.025em,
    ),
    heading1: (
      font-size: 44px,
      line-height: 1em,
      small:(
        font-size: 34px,
        line-height: 1.5em
      ),
      smaller:(
        font-size:60px,
      )
    ),
    heading2: (
      font-size: 24px,
      font-weight: 600,
      font-family: $font-sans,
      line-height: 140%
    ),
    heading3: (
      font-size: 20px,
      font-family: $font-sans
    ),
    heading5: (
      font-size: 14px,
      text-transform: uppercase,
      font-weight: 100,
      font-family: $font-sans,
    )
  );

  @if(map-has-key($types, $type)) {
    $map: map-get($types, $type);
    @each $property, $value in $map {
      @if type-of(map-get($map, #{$property})) != map {
        #{$property}: $value;
      }
    }
    @each $breakpoint, $width in $breakpoints {
      $breakpoint-map: map-get($map, $breakpoint);
      @if type-of($breakpoint-map) == map {
        @media (max-width: $width){
          @each $property, $value in $breakpoint-map {
            #{$property}: $value;
          }
        }
      }
    }
  }
  @else {
     @error "Could not find typography style: " + $type;
  }

  // Insert common properties here
}
