.u-clearfix {
  @include clearfix;
}

.u-reverse {
  color: $color-canvas;
  * {
    color: inherit;
  }
  a:hover,
  a:focus {
    color: inherit;
  } // a:hover
}

.u-screen-reader {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.u-align-left {
  text-align: Left;
}

.u-align-right {
  text-align: right !important;
}

.u-responsive {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.u-centered {
  text-align: center !important;
}

.u-round {
  border-radius: 50%;
}